#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.UI {
  display: flex;
  justify-content: center;
}

.pup {
  font-size: 1.2rem;
  text-align: center;
}

.pup:hover {
  text-decoration: underline;
  cursor: pointer;
}

.App {
  padding: 60px 150px 100px;
  background-color: lemonchiffon;
  color: rgb(70, 70, 46);
  border-radius: 10%;
}

.featPup {
  width: 320px;
  text-align: left;
}